@import url('https://fonts.googleapis.com/css2?family=Work+Sans&family=Karla&display=swap');

/* Fonts */
$family-primary: 'Work Sans', -apple-system, system-ui, BlinkMacSystemFont,
  Arial, sans-serif;
$family-secondary: 'Karla', -apple-system, system-ui, BlinkMacSystemFont, Arial,
  sans-serif;

/* Colors */
$primary: #2a364d;
$secondary: #93b7be;

$navbar-breakpoint: 3000px;
